                            /*RESET CSS*/

@import url(http://reset5.googlecode.com/hg/reset.min.css);

                            /*TIPOGRAFIAS*/
@font-face {
    font-family: pier;
    src: url(Tipografias/PierSans-Light.ttf);
}
        
@font-face {
    font-family: pier-regular;
    src: url(Tipografias/PierSans-Regular.otf);
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.secciones {
    position: relative;
    width: 98.7vw;
    height: 100vh;
}

/*SECCION PRINCIPAL*/

.principal {
    position: absolute;
    width: 98.7vw;
    height: 100vh;
    background-image: url(Images/CiaraBarrimore.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.navegacion p {
    color: white;
    display: inline-block;
    font-family: pier;
    margin-top: 4.88%;
    /*44/900 = 0.0888*/
    font-size: 1em;
    /*20/16 = 1.25*/
}

#inicio {
    margin-left: 9%;
    /*100/900 = 0.1111 *900px Pantallas grandes*/
    color: #C58D00;
}

#biografia {
    margin-left: 3.66%;
    /*33/900 = 0.03666*/
}

#galeria {
    margin-left: 3.66%;
    /*33/900 = 0.03666*/
}

#contacto {
    margin-left: 3.66%;
    /*33/900 = 0.03666*/
}

.textoInicio {
    width: 35%;
    margin-left: 16%;
    margin-top: 12%;
    /*319/900 = 0.4466*/
    text-align: center;
}

.nombre {
    color: #C58D00;
    font-family: pier-regular;
    font-size: 2.5em;
    /*79/16 = 0.0912*/
}

.subrayado {
    width: 100%;
    /*315/900 = 0.35*/
    height: 2px;
    background-color: #C58D00;
    margin-top: -5%;
}

.cita {
    text-align: center;
    width: 85%;
    color: white;
    font-family: pier;
    margin-left: 6%;
    /*443/900 = 0.4922*/
    font-size: 1em;
    /*18/16 = 1.12*/
}


/*SECCION INTRODUCCION*/

.nombreTachado {
    width: 25%;
    /*528/900 = 0.5866*/
    margin-left: 40%;
}

.intro {
    position: absolute;
    height: 39%;
    /*324/900=0.36*/
    width: 100%;
    background-color: #443785;

}

#cb {
    margin: 0 auto;
    text-align: center;
    color: white;
    font-family: pier-regular;
    font-size: 1.9em;
    /*31/16 = 1.93*/
    margin-top: 6%;
    /*57/900 = 0.0633*/
}

#tachado {
    height: 1px;
    background-color: white;
    margin-top: -5%;
}

.textoIntro{
    width: 80%;
    margin-left: 10%;
}

.textoIntro p {
    margin: 0;
    text-align: center;
    color: white;
    font-family: pier;
    font-size: 1em;  /*16/16 = 1*/
}

#primerP {
    margin-top: 3.1%;
    /*28/900 = 0.031*/
}

.irBio p {
    color: #C58D00;
    font-family: pier-regular;
    font-size: 1em; /*16/16*/
    text-align: center;
}

.zigzag{
    height: 5px;
    width: 2%; /*19/900 = 0.02111*/
    background-image:url(Images/triangulos.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 49%;
    margin-top: -1%;
}

.barra2{
    position: absolute;
    height: 22.7%;    /* 115/521 = 0.2207 **521 es el espacio total que ocupa la barra superior ''.intro'' */ 
    width: 100%;
    background-color: #7C688B;
    margin-top: 4.5%;
}

.introFotos{
    position: absolute;
    /*background-color: dimgrey;*/
    width: 88.91%;    /*800/900 = 0.8891*/
    height: 70.22%;   /*632/416 = 0.7022*/
    margin-top: 15%;  /*235/900 = 0.2611*/
    margin-left: 5%;
}

.introFoto1{
    position: absolute;
    width:28.88%; /*(800-20)/3 = 0.2888 -> 800 espacio del contenedor para las fotos, -20 por el espacio que separará cada foto, /3 porque se repartirá entre 3 contenedores.*/
    height: 96.12%; /*100%-3.88 = 96.12 º35px del espacio inferior entre la foto y la siguiente sección (35/900)*/ 
    background-color: dodgerblue;
    background-image: url(Images/chica1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.introFoto2{
    position: absolute;
    width:28.88%; /*(800-20)/3 = 0.2888 -> 800 espacio del contenedor para las fotos, -20 por el espacio que separará cada foto, /3 porque se repartirá entre 3 contenedores.*/
    height: 96.12%; /*100%-3.88 = 96.12 º35px del espacio inferior entre la foto y la siguiente sección (35/900)*/
    background-color: forestgreen;
    margin-left: 35.65%;/*40/800 = 0.05 -> 28.88 + (5 * 2) = 38.88*/
    background-image: url(Images/chica2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.introFoto3{
    position: absolute;
    width:28.88%; /*(800-20)/3 = 0.2888 -> 800 espacio del contenedor para las fotos, -20 por el espacio que separará cada foto, /3 porque se repartirá entre 3 contenedores.*/
    height: 96.12%; /*100%-3.88 = 96.12 º35px del espacio inferior entre la foto y la siguiente sección (35/900)*/
    background-color: deeppink;
    margin-left: 71.1%;/*20/800 = 0.025 -> (28.88 * 2) + (5 * 3) = 72.76*/
    background-image: url(Images/chica3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

            /*Sección Proyecto Actual*/

.proyectoActual{
    position: absolute;
    width: 98.7vw;
    height: 100vh;
    background-color: black;
}
